:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;

  --header-height: 120px;
  --navbar-height: 30px;
  --header-sort-bar-height: 46px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Smimulator responsive */
.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-form));
  }

  to {
    transform: scale(var(--growth-to));
  }
}

/* Modal */
.modal {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn 0.1s linear;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  --growth-form: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}

/* Button style */
.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  background-color: var(--white-color);
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disable {
  color: #949494;
  background-color: #c3c3c3;
  cursor: not-allowed;
}

.select-input {
  padding: 0 12px;
  height: 34px;
  border-radius: 2px;
  min-width: 200px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.select-input::before {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  top: 100%;
  left: 0;
}

.seleect-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: #838383;
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  padding-left: 0;
  z-index: 1;
}

.select-input__item {}

.seleect-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 18px 12px;
  display: none;
}

.seleect-input__link:hover {
  color: var(--primary-color);
}

.select-input:hover .seleect-input__link {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}


.paginaton-item {
  margin: 0 12px;
}

.paginaton-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.paginaton-item--active .pagination-item__link:hover {
  background-color: #fb6445;
  ;
}

.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  border-radius: 2px;
}

.pagination-item__icon {}