.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    text-transform: capitalize;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 5px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 3;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100px;
    height: 8px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-menu .header__navbar-user-item:first-child a::before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: -15px;
    border-width: 8px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-menu .header__navbar-user-item:first-child a:hover::before {
    border-bottom-color: #fafafa
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    transform: translateY(-50%);
    right: 8px;
    left: -8px;
    top: 50%;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 118%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 3;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 30px;
}

.header__qr-img {
    width: 100%;
}

.header__qr_apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) {
    margin-left: 11px;
}

.header__qr-download-img {
    height: 15px;
}

/* Header notification */
.header__notify {
    display: none;
    position: absolute;
    top: 118%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) 0%;
    animation: showNotify 0.2s ease-in;
    will-change: position;
    z-index: 3;
}

/* CSS triangle (notify)*/
.header__notify::before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: -15px;
    border-width: 8px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-item-link--hover::after {
    content: "";
    display: block;
    width: 90px;
    height: 34px;
    position: absolute;
    top: -4px;
    right: 0;
}

@keyframes showNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px 2px 0 0;
}

.header__notify-header h3 {
    color: #999;
    line-height: 40px;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    cursor: text;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 46px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 4px;
    max-width: 318px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
    padding: 10px 0;
}

.header__navbar--has-notify:hover .header__notify {
    display: block;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
    background-color: transparent;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control--back {
    margin-right: 8px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook,
.auth-form__socials--google {
    color: var(--white-color);
}

.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--google {
    color: var(--white-color);
    background-color: #DB4437;
}

.auth-form__socials-title {
    margin: 0 36px;
    font-size: 1.2rem;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header search */
.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
    fill: currentColor;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    line-height: 0;
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-checkbox:checked~.header__search {
    display: flex;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: default;
    z-index: 2;
}

.header__cart-list::after {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: -15px;
    border-width: 8px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

/* Display no cart class*/
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

/* Cart has products */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 28px;
    max-width: 190px;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    position: relative;
    padding-left: 16px;
    border-left: 1px solid #848484;
    cursor: pointer;
}

.header__search-select::after {
    width: 130px;
    height: 15px;
    content: "";
    display: block;
    right: 0;
    position: absolute;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #838383;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    width: 60px;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    border-radius: 2px;
    width: 120px;
    list-style: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding-left: 0;
    overflow: hidden;
    display: none;
    animation: fadeIn 0.2s ease-in;
    z-index: 1;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item:first-child {
    border-radius: 2px 2px 0 0;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item i {
    display: none;
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #dbdada;
    display: none;
    z-index: 2;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4em;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 38px;
    color: var(--text-color);
}

/* Header sort bar */
.header__sort-bar {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    width: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    background-color: #e5e5e5;
    border-left: 1px solid#e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    position: relative;
    top: -1px;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

/* App container */
.app__container {
    background: #f5f5f5;
    margin-top: 24px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));

}

.category-item__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    position: relative;
    right: 0;
    transition: right 0.1s linear;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Mobile category link */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    width: 110px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-category__name {
    padding: 6px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}



/* home sort + filter */
.home-filter {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    background: var(--white-color);
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    text-decoration: none;
}

.home-filter__page-btn--disable {
    cursor: default;
    background-color: #f9f9f9;

}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}



.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    border: 1px solid transparent;
    border-radius: 1px;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
    transform: translateY(1px);
    border: 1px solid var(--primary-color);
}

.home-product-item-img {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price-unit {
    font-size: 1.1rem;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    color: var(--primary-color);
    font-size: 1rem;
}

i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__start--gold {
    color: #FFCE3D;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: #757575;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.home-product-item__brand {}

.home-product-item__origin-country {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-radius: 0 2px 2px 0;
}

.home-product-item__favourite::after {
    content: '';
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__favourite-text {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 57, 0.93);
    text-align: center;
}

.home-product-item__sale-off::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 57, 0.93) transparent;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3rem;
    display: block;
    margin-top: 6px;
}

.home-product-item__sale-off-label {
    line-height: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    display: block;
}

.home-product__pagination {
    margin: 48px 0 32px;
    padding-left: 0;
}

.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__top-content {
    display: flex;
    justify-content: space-between;
}


.footer__top {
    display: flex;
    height: 120px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.footer__top-wrap {
    display: flex;
    align-items: center;
    min-height: 54px;
}

.footer__top-img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.footer__top-list-text {
    max-width: 275px;
}

.footer__top-text {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.footer__empty {
    height: 120px;
    width: 100%;
    background-color: #fbfbfb;
}

.footer__main-footer {
    border-top: 1px solid var(--border-color);
    padding-top: 50px;
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-list-center {
    display: flex;
    flex-wrap: wrap;
}

.footer-list-center-item {
    width: 60px;
    min-height: 30px;
    margin: 0 8px 8px 0;
    padding: 4px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 2px;
}

.footer-list-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.65);
    padding: 6px 0;
    display: inline-flex;
}

.footer-list-item__link:hover {
    color: var(--primary-color);
}

/* CSS áp dụng cho footer__center */
.footer-list-center .footer-list-item__link {
    padding: 0;
    display: flex;
}

.footer-list-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: inline-flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 4px;
    border-radius: 2px;
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 4px;
    display: flex;
}

.footer__country {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding: 40px 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
    color: #737373;
    font-size: 1.4rem;
    line-height: 1.8rem;
}


.footer__country-left {
    padding: 0;
    margin: 0;
}

.footer__country-right {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__country-right__item:last-child .footer__country-right__link {
    border-right: none;
}

.footer__country-right__link {
    display: block;
    padding: 0 6px;
    text-decoration: none;
    color: #737373;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 36px 0 36px;
}

.footer__bottom-policy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.footer__bottom-policy-item:last-child .footer__bottom-policy-link {
    border-right: none;
}

.footer__bottom-policy-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__bottom-certification-list {
    display: flex;
    justify-content: center;
}

.footer__bottom-certification-link {
    margin-right: 40px;
    text-decoration: none;
    color: transparent;
}

.footer__bottom-certification-img {
    width: fit-content;
    height: 48px;
    object-fit: contain;
}

.footer__bottom-company-name {
    font-size: 1.2rem;
    color: #737373;
    text-align: center;
    margin: 8px 0 24px;
}

.footer__bottom-info {
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}

.footer__bottom-info-text {
    margin: 0 0 8px;
}

.footer__bottom-coppyright {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}